# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/default/*
docroot/sites/default/settings.php

local.settings.php
local.drush.yml
local.site.yml
local.services.yml
*.local
local.blt.yml
deployment_identifier
/travis_wait*
/files-private
.phpcs-cache