<div class="pdf_page1_wrapper" style=" height: 63.25rem; max-width: 53.125rem; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
  <div class="container pdf_page1">
    <div class="img-wrap glidescope-logo"></div>
    <div class="pdf_intro">
      <p>
        <span class="boldText">Your Cost-Comparison
                                                                                                                                                                                                                                                                                                                                                                                                                        Snapshot</span>:Single-use vs. reusable bronchoscopes</p>
      <p class="pdf_intro_footnote">See how current operating costs for reusable bronchoscopes at
        <span class="boldText">sdfsdf</span>
        compare to single-use.</p>
    </div>
    <div class="img-wrap verathon-logo"></div>
  </div>
</div>
