<div id="bflex-calculator-header" class="results-page-hero">

  <div id="hero" class="blueBackground">
    <div class="container">
      <div class="row">
        <div class="heroHead">
          <h1>Your Cost-Comparison Results</h1>
          <p>
            Here’s how your current costs for reusables stack up against sterile single-use
            <span class="boldText">This comparison is conservative. It omits the capital acquisition
                                                                                                                                                                            costs and operational budgets associated with reusable bronchoscopes.<span></span>
            </span>
          </p>
        </div>
      </div>
      <a class="button-result-page" href="#">Generate Custom Report</a>
    </div>
  </div>
  <div class="ribbon-wrapper">
    <div class="container">
      <div class="column6">
        <h2 class="heading bigger">Current operating costs</h2>
        <p class="grey-text">Using reusable bronchoscopes only</p>
      </div>
      <div class="column6">
        <h2 class="heading bigger green">With BFlex</h2>
        <p class="grey-text">Combined with existing reusable bronchoscope inventory</p>
      </div>
    </div>
  </div>
</div>

<div class="container results">
  <div class="row result-section">
    <div class="column6">
      <h3>Current bronchoscope usage</h3>
    </div>
    <div class="column6 "></div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Single-use BFlex bronchoscopes</p>
        </div>
        <div class="column5">
          <p class="value float">0</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p class="grey-text">Single-use BFlex bronchoscopes</p>
        </div>
        <div class="column5">
          <p class="value float">1343</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6  total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$0</p>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6 with total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$6,715</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row result-section">
    <div class="column6">
      <h3>Repair and maintenance costs</h3>
    </div>
    <div class="column6 "></div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Reusable bronchoscopes (QTY)</p>
        </div>
        <div class="column5">
          <p class="value float">30</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Reusable bronchoscopes (QTY)</p>
        </div>
        <div class="column5">
          <p class="value float">30</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Annual cost of service agreement per reusable bronchoscope</p>
        </div>
        <div class="column5">
          <p class="value float">$5,000</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Annual cost of service agreement per reusable bronchoscope</p>
        </div>
        <div class="column5">
          <p class="value float">$5,000</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Annual out-of-pocket repair costs for all reusable bronchoscopes</p>
        </div>
        <div class="column5">
          <p class="value float">$119,674</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Annual out-of-pocket repair costs for all reusable bronchoscopes</p>
        </div>
        <div class="column7">
          <p class="value float">$48,495</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$269,674</p>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6 with total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$198,495</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row result-section">
    <div class="column6">
      <h3>Reprocessing costs per use</h3>
    </div>
    <div class="column6 "></div>
  </div>
  <div
    class="row result reprocessing-costs">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Reprocessing costs</p>
        </div>
        <div class="column5">
          <p class="value float">Average</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Reprocessing costs</p>
        </div>
        <div class="column5">
          <p class="value float">Average</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>PPE for personnel</p>
        </div>
        <div class="column5">
          <p class="value float">$11.42</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>PPE for personnel</p>
        </div>
        <div class="column5">
          <p class="value float">$11.42</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Bedside precleaning</p>
        </div>
        <div class="column5">
          <p class="value float">$11.8</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Bedside precleaning</p>
        </div>
        <div class="column5">
          <p class="value float">$11.8</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Leak testing</p>
        </div>
        <div class="column5">
          <p class="value float">$3.78</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Leak testing</p>
        </div>
        <div class="column5">
          <p class="value float">$3.78</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Manual cleaning</p>
        </div>
        <div class="column5">
          <p class="value float">$24.12</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Manual cleaning</p>
        </div>
        <div class="column5">
          <p class="value float">$24.12</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Visual inspection</p>
        </div>
        <div class="column5">
          <p class="value float">$32.16</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Visual inspection</p>
        </div>
        <div class="column5">
          <p class="value float">$32.16</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>HLD in an AER</p>
        </div>
        <div class="column5">
          <p class="value float">$13.98</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>HLD in an AER</p>
        </div>
        <div class="column5">
          <p class="value float">$13.98</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result reprocessing">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Drying and storage</p>
        </div>
        <div class="column5">
          <p class="value float">$4.17</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr class="show">
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Drying and storage</p>
        </div>
        <div class="column5">
          <p class="value float">$4.17</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr class="show">
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6  total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$229,029</p>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6 with total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$92,808</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row result-section">
    <div class="column6">
      <h3>Preventable infections</h3>
    </div>
    <div class="column6 "></div>
  </div>
  <div
    class="row result ">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Patient infections due to cross contamination</p>
        </div>
        <div class="column5">
          <p class="value float">16.31</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Patient infections due to cross contamination</p>
        </div>
        <div class="column5">
          <p class="value float">6.61</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6 ">
      <div class="row">
        <div class="column7">
          <p>Cost per infection</p>
        </div>
        <div class="column5">
          <p class="value float">$28,383</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6">
      <div class="row">
        <div class="column7">
          <p>Cost per infection</p>
        </div>
        <div class="column5">
          <p class="value float">$28,383</p>
        </div>
      </div>
      <div class="row">
        <div class="column12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6  total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$463,042</p>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6 with total">
      <div class="row">
        <div class="column7">
          <p>Annual cost</p>
        </div>
        <div class="column5">
          <p class="value float">$187,636</p>
        </div>
      </div>
    </div>

  </div>

  <div
    class="row result">
    <!-- CURRENT -->
    <div class="column6  total grand">
      <div class="row">
        <div class="column7">
          <p>Annual Estimated Operating Costs</p>
        </div>
        <div class="column5 ">
          <p class="value float">$961,744</p>
        </div>
      </div>
    </div>
    <!-- WITH -->
    <div class="column6 with total grand">
      <div class="row">
        <div class="column7">
          <p>Annual Estimated Operating Costs</p>
        </div>
        <div class="column5">
          <p class="value float">$485,654</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="blue-footer-ribbon" class="results-page-footer-ribbon">
  <div class="blueBackground">
    <div class="container footer">
      <div class="column6">
        <h2>Single-Use. Safer Investment.</h2>
      </div>
      <div class="column6 float-right">
        <a class="button-result-page" href="#">Generate Custom Report</a>
      </div>
    </div>
  </div>
</div>
