:root {
  --lightgreen: #2eb3b7;
  --lightgray: #e6e6e6;
  --verblue1: #70c3e9;
  --verblue2: #26a3dd;
  --buttonblue: #157cd1;
  --verblue3: #157cd1;
  --vergray: #999999;
  --vergray2: #555555;
}


/* Styles Provided by Analytics Team */

#sg-popup {
  text-align: center;
  box-shadow: 0 0.25rem 0.625rem 0 rgb(0 0 0 / 20%), 0 0.25rem 1.25rem 0 rgb(0 0 0 / 19%);
  color: black;
  z-index: 999;
  position: fixed;
  max-width: 90%;
  width: auto;
  right: 1.5625rem;
  top: 7.2rem;
  background-color: white;
  border-color: white;
  border-style: solid;
  padding: 3.2rem 2.4rem;
  font-size: 1rem;
}

#ijs_open {
  background: var(--lightgreen);
  color: white;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.4375rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  float: left;
  white-space: nowrap;
}

#ijs_close {
  background: var(--lightgray);
  color: black;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.4375rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  float: right;
  white-space: nowrap;
}

#sg-popup h1 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--video .fancybox-content {
  width: 70%;
}

.fancybox-slide--iframe .fancybox-content {
  background: transparent;
}


/* Loader background CSS - Search Suggestions - Auto Complete */

.js input.form-autocomplete.ui-autocomplete-loading {
  background-repeat: no-repeat;
}


/* Loader CSS - Search Box */

form .form-item input.form-text {
  background-image: none;
}


/* Search Related CSS */

.search form .form-type-select select {
  cursor: pointer;
}

form .form-select:not(.editor):focus-visible {
  outline: none;
}

.search-results-container .coh-style-search-block .button.form-submit {
  border: none;
}

@media screen and (max-width: 480px) {
  .search-results-container .search form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .search-results-container .search form>* {
    margin-bottom: 0.75rem;
  }

  .search-results-container .search input.form-autocomplete,
  .search-results-container .search form :is(.form-submit, .form-type-select select) {
    width: 100%;
  }

  div.search-results-container .search form .form-type-select,
  div.search-results-container .search form .form-item .form-text {
    border: 1px solid;
  }
}


/* Added Padding Adjustment Capability for Product Card, Category Features, Support, Guides and Articles */

.coh-container .no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.coh-container .padding-sm {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.coh-container .padding-md {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.coh-container .padding-lg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .coh-container .padding-sm {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .coh-container .padding-md {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .coh-container .padding-lg {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}


/* Drupal Default Form Styles */

form:is(#user-login-form, #user-register-form, #user-pass, #search-form, #search-form, #search-block-form) {
  width: 100%;
  margin-top: 0;
}

form:is(#user-login-form, #user-register-form, #user-pass, #search-form, #search-form, #search-block-form) .form-item {
  padding: 0;
}

form:is(#user-login-form, #user-register-form, #user-pass, #search-form, #search-form, #search-block-form) .form-actions input[type=submit] {
  font-size: 1rem;
  width: 100%;
  margin: 0 1rem 0 0;
  cursor: pointer;
  border-radius: 0;
  border: none;
  background: var(--buttonblue);
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: .6375rem 1.0625rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  form:is(#user-login-form, #user-register-form, #user-pass, #search-form, #search-form, #search-block-form) {
    width: 50%;
    margin: 0 auto;
    margin-top: 3.125rem;
    max-width: 31.25rem;
  }

  form:is(#user-login-form, #user-register-form, #user-pass, #search-form, #search-form, #search-block-form) .form-actions input[type=submit] {
    width: auto;
  }
}


/* Education and Training CSS Issues */

.education-training .search form input.form-autocomplete,
.education-training .search form .form-item .form-select:not(.editor) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  line-height: 1.625rem;
}

/* Global Technical Support CSS */

#block-views-block-global-technical-support-gts-block .gts-banner-container {
  background-image: url('/sites/default/files/2021-07/global_support_map_search.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Bflex Calculator - 'see results' form styles */

.path-bflex-calculator .webform-submission-gated-form-bflex-form {
  display: flex;
  flex-wrap: wrap;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form>* {
  flex-basis: 100%;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-first-name input,
.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-last-name input,
.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email input {
  height: 2.125rem;
  margin-bottom: 1.875rem;
}
.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-first-name input:focus,
.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-last-name input:focus,
.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email input:focus{
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-type-checkbox {
  display: block;
  padding-bottom: 0;
}

.ui-dialog-content .messages--error{
  margin-bottom: 1.25rem;
  border: .0625rem solid;
  color: #a51b00;
  border-color: #f9c9bf;
  box-shadow: none;
}

.ui-dialog-content .messages--error ul li{
  line-height: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  list-style-type: none;
  font-size: .875rem;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-type-checkbox label {
  display: inline-block;
  text-align: left;
  color: gray;
  margin-bottom: .375rem;
  font-weight: bold;
  line-height: 21px;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-type-checkbox .webform-element-description {
  display: inline;
  line-height: 1.5;
  padding-left: .3125rem;
  font-weight: normal;
  color: gray;
  font-size: 1rem;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-type-checkbox .webform-element-description a {
  text-decoration: none;
  color: #0d6efd;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-checkbox {
  opacity: 1;
  appearance: auto;
  float: left;
  width: .75rem;
  height: .75rem;
  position: relative;
  top: .25rem;
  margin-right: .1875rem;
  margin-bottom: 0;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email-communications label:before {
  display: none;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email-communications label {
  display: block;
  margin-bottom: .5rem;
}

.path-bflex-calculator .ui-dialog-content .form-actions {
  padding: 0;
}

.path-bflex-calculator .ui-dialog-content {
  padding: .625rem 1.875rem;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email-communications p {
  margin-bottom: 0;
}

.path-bflex-calculator .webform-ajax-form-wrapper:before {
  content: url(../../../custom/verathon_bflex_calculator/images/GlideScope_Logo_Blue.png);
  display: flex;
  justify-content: center;
  margin: 1.5625rem 0 1.5rem;
}

.path-bflex-calculator .ui-dialog .ui-dialog-buttonpane {
  border: none;
  padding: 0 1.875rem 1.875rem;
}

.path-bflex-calculator .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: left;
}

.path-bflex-calculator .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
  border-radius: 0;
  border: none;
  background: var(--buttonblue);
  color: white;
  font: .875rem;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: .4375rem 1.0625rem;
}

.path-bflex-calculator .ui-widget-header {
  border: none;
  background-color: white;
}

.path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-email-communications .description,
.path-bflex-calculator .ui-widget-header .ui-dialog-title,
.path-bflex-calculator .ui-dialog .ui-dialog-titlebar-close .ui-icon.ui-icon-closethick {
  display: none;
}

.path-bflex-calculator .ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-titlebar-close {
  border-radius: 0;
  color: white;
  font-size: .8125rem;
  opacity: 0.8;
  background: var(--buttonblue);
  border-color: var(--buttonblue);
  float: right;
  width: auto;
  margin: 0;
  height: auto;
  text-indent: 0;
  font-weight: 600;
  padding: .25rem .625rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  z-index: 101;
}
.path-bflex-calculator form.webform-submission-form div.form-item{
  padding-right: 0;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
  background: var(--buttonblue);
  border-color: var(--buttonblue);
  color: white;
  font-weight: bold;
  padding: .25rem .625rem;
  opacity: 1;
}

.ui-dialog .ui-dialog-titlebar-close .ui-button-icon.ui-icon.ui-icon.ui-icon-closethick {
  display: none;
}

.path-bflex-calculator .ui-widget.ui-widget-content {
  border: .0625rem solid var(--vergray2);
  /* using important to override inline styles, so that form width adjusts according to device size*/
  width: 100% !important;
  max-width: 400px;
}

.path-bflex-calculator .ui-dialog input {
  background-color: white;
  border: .0625rem solid var(--vergray);
}

.path-bflex-calculator .ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

.path-bflex-calculator .ui-widget-overlay {
  background-color: black;
  opacity: .5;
}

.ui-dialog {
  padding: 0;
}

.path-bflex-calculator form.webform-submission-form div.js-form-type-webform-markup{
  text-align: center;
  margin-bottom: 1.25rem;
}


@media screen and (min-width: 768px) {
  .path-bflex-calculator .ui-widget.ui-widget-content {
    max-width: 500px;
  }

  .path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-first-name,
  .path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-last-name {
    flex-basis: 50%;
  }

  .path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-first-name {
    padding-right: .75rem;
  }

  .path-bflex-calculator .webform-submission-gated-form-bflex-form .form-item-last-name {
    padding-left: .75rem;
  }
}

/* Pager Styles in Support page */

nav.pager {
  margin-top: 2rem;
}

nav.pager ul.pager__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav.pager ul.pager__items li.pager__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
}

nav.pager ul.pager__items li.pager__item.pager__item--last a:hover,
nav.pager ul.pager__items li.pager__item.pager__item--next a:hover,
nav.pager ul.pager__items li.pager__item.pager__item--first a:hover,
nav.pager ul.pager__items li.pager__item.pager__item--previous a:hover {
  background-color: transparent;
  color: var(--verblue1);
}

nav.pager ul.pager__items li.pager__item a {
  background-color: white;
  display: block;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 1rem;
  line-height: 2rem;
  text-align: center;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

nav.pager ul.pager__items li.pager__item a:hover {
  background-color: var(--verblue2);
  color: white;
}

nav.pager ul.pager__items li.pager__item.is-active a {
  background-color: black;
  color: white;
}

nav.pager ul.pager__items li.pager__item.is-active a:hover {
  background-color: black;
}

/* Floating Widget Cursor */

.floating-widget .contact-widget-text,
.floating-widget .contact-widget-link {
  cursor: pointer;
}

.floating-widget .contact-widget-text:hover,
.floating-widget .contact-widget-link:hover {
  position: relative;
}

/* Cookie Disclaimer */

#sliding-popup .eu-cookie-compliance-content {
  text-align: center;
  padding: 15px 0px;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-message {
  display: inline;
  float: none;
  margin: 0;
  max-width: none;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-message p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-message p a {
  color: #2daaae;
  font-weight: bold;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-buttons {
  float: none;
  display: inline-block;
  margin: 0;
  max-width: none;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-buttons .eu-cookie-compliance-secondary-button {
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #2daaae;
  background: transparent;
  margin: 0 5px;
  width: auto;
}

#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-buttons .eu-cookie-compliance-default-button,
#sliding-popup .eu-cookie-compliance-content .eu-cookie-compliance-buttons .eu-cookie-compliance-hide-button {
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #2daaae;
  background: transparent;
  color: white;
  margin: 0 5px;
  box-shadow: none;
  text-shadow: none;
  font-weight: normal;
}

/* Gated Form Styles */

form.webform-submission-form fieldset {
  padding: 0;
  margin: 0;
}

form.webform-submission-form fieldset legend span,
form.webform-submission-form label {
  font-weight: 400;
}

form.webform-submission-form fieldset .fieldset-wrapper {
  display: flex;
}


form.webform-submission-form fieldset input.form-text,
form.webform-submission-form fieldset .form-select:not(.editor) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  appearance: auto;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}

form.webform-submission-form fieldset label {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

form.webform-submission-form div.form-item {
  padding: 0;
  margin: 0;
  padding-right: 1rem;
  width: 50%;
}

form.webform-submission-form div.form-item :is(input, select, textarea) {
  margin-bottom: 1rem;
  padding: 0.3125rem 0.25rem;
  border-color: var(--vergray);
}

form.webform-submission-form div.form-actions {
  padding: 0;
}

@media screen and (max-width: 480px) {
  form.webform-submission-form div.form-item {
    width: 100%;
  }

  form.webform-submission-form fieldset .fieldset-wrapper {
    flex-direction: column;
  }
}

/* Just to override inline styles from from Important is being used here */

.ui-widget.ui-widget-content {
  width: 100% !important;
  max-width: 31.25rem;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 1rem;
  background: transparent;
  border: none;
}

.ui-dialog .ui-dialog-buttonpane {
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button.webform-button--submit {
  font-size: 1rem;
  width: auto;
  border: none;
  border-radius: unset;
  background-color: var(--verblue3);
  color: white;
  padding: 0.4375rem 1.0625rem;
  font-weight: 600;
  opacity: 0.8;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.ui-dialog .ui-dialog-buttonpane button.webform-button--submit:hover {
  background-color: var(--verblue3);
  opacity: 1;
}
