/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
/docroot/sites/default/local.setting.php
/docroot/sites/default/local.setting.php
sites/default/local.settings.php
vendor/*
sites/default/*
